<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <img width="40%" height="20%" src="https://picsum.photos/200">
    <main>
        <h1>FormA</h1>  
        <p>Text</p>
        <form method="post" data-th-action="@{/weather/forma}">
          <label>City/country</label>
          <input type ="text" name = "city" placeholder = "Enter City Name">
          <br/>
          <label>Temperature</label>
          <input type="text" name = "Temperature" placeholder="Enter Temperature">
          <button type = "submit">SUBMIT</button> <!-- SUBMIT BUTTON MUST BE IN THE FORM. Since this is a post, we need a post mapping -->
        </form>


        
    </main>
    <script src="index.js"></script>
  </body>
</html>