<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <img width="40%" height="20%" src="https://picsum.photos/200">
    <main>
        <h1>Text</h1>  
        <p>Text</p>

        <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th>id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>date of birth</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="student, status : ${students}">
                    <td data-th-text = "${student.id}"></td>
                    <td data-th-text = "${student.firstName}"></td>
                    <td data-th-text = "${student.lastName}"></td>

                    <td data-th-text = "${student.email}"></td>
                    <td data-th-text = "${student.address}"></td>

                </tr>
            </tbody>


        </table>


        
    </main>
    <script src="index.js"></script>
  </body>
</html>